<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Access to Bank Project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4c86f">  <td>20/11/26 11:39:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLogin()[pri:2, instance:myTest.LoginTest@2d9d4f9d]">doLogin</td> 
  <td>TestNG-test=Run with Chrome browser-2@301149977</td>   <td></td> </tr>
<tr bgcolor="e196d3">  <td>20/11/26 11:39:31</td>   <td>-13137</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:myTest.LoginTest@2d9d4f9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1266172869</td>   <td></td> </tr>
<tr bgcolor="e4c86f">  <td>20/11/26 11:39:37</td>   <td>-7299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInfoRegistrationDisplayed()[pri:1, instance:myTest.LoginTest@2d9d4f9d]">verifyInfoRegistrationDisplayed</td> 
  <td>TestNG-test=Run with Chrome browser-1@22343455</td>   <td></td> </tr>
</table>
